.games {
    display: flex;
    gap: 32px;
    justify-content: center;
    margin: 80px 0;

    &__row {
        display: flex;
        gap: 32px;
        padding: 32px;
        overflow-y: hidden;
        overflow-x: auto;

        @media (min-width: 1024px) {
            width: 1216px;
            overflow-x: hidden;
        }

        @media (max-width: 425px) {
            align-items: center;
            flex-direction: column;
        }
    }
}
