.Search{
    margin-top: 32px;
    margin-left: 32px;
    margin-right: 32px;
    @media (min-width: 880px) {
    display: flex;
    justify-content: center;
    margin-bottom: 42px;
}
    
    &__content{
        max-width: 1216px;
        width: 100%;
        position: relative;
    }

    &__input{
        background: var(--dark-background-20);
        border: 0;
        border-radius: 4px;
        color: var(--light-background);
        font-size: 18px;
        outline: 0;
        max-width: 1216px;
        padding: 19px 18px 19px 20px;
        width: 100%;

        &::placeholder{
            color: var(--light-background);
            font-size: 18px;
        }
    }

    &__icon{
        cursor: pointer;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);

        & > svg{
            color: #0094ff;
        }
    }

}